In [7]:
## import the pandas library in this cell
import pandas as pd

In [9]:
## import data and store in dataframe
pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [11]:
## name dataframe
ems2020_excerpt_df = pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

In [13]:
## call the last 5 rows
ems2020_excerpt_df.tail(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [15]:
## call a 20 random rows
ems2020_excerpt_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
6502,200834992,2020-03-23 20:35:11,DIFFFC,2,DIFFFC,2,03/23/2020 08:35:38 PM,Y,27,03/23/2020 08:35:52 PM,...,70.0,45.0,314.0,22.0,9.0,N,N,N,N,chunk168.csv
11431,201793077,2020-06-27 18:58:03,EDP,7,DRUG,4,06/27/2020 06:58:15 PM,Y,12,06/27/2020 06:58:36 PM,...,62.0,43.0,311.0,20.0,11.0,N,N,N,N,chunk172.csv
446,201291216,2020-05-08 10:51:21,SICK,6,SICK,6,05/08/2020 10:52:01 AM,Y,40,05/08/2020 10:52:18 AM,...,122.0,50.0,502.0,31.0,11.0,N,N,N,N,chunk170.csv
6418,200653957,2020-03-05 20:20:51,INJURY,5,INJURY,5,03/05/2020 08:21:07 PM,Y,16,03/05/2020 08:22:46 PM,...,75.0,37.0,305.0,19.0,8.0,N,N,N,N,chunk167.csv
8401,200193360,2020-01-19 19:14:27,SICK,6,SICK,6,01/19/2020 07:14:34 PM,Y,7,01/19/2020 07:15:48 PM,...,49.0,13.0,211.0,11.0,14.0,N,N,N,N,chunk165.csv
3755,201363068,2020-05-15 18:56:01,SICKFC,6,SICKFC,6,05/15/2020 06:56:08 PM,Y,7,05/15/2020 06:56:18 PM,...,69.0,46.0,318.0,18.0,8.0,N,N,N,N,chunk170.csv
3010,200923203,2020-04-01 13:04:22,SICK,6,SICK,6,04/01/2020 01:20:21 PM,Y,959,04/01/2020 01:20:25 PM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk169.csv
8699,200851976,2020-03-25 10:14:24,SICK,6,SICK,6,03/25/2020 10:14:35 AM,Y,11,03/25/2020 10:14:44 AM,...,79.0,36.0,303.0,13.0,8.0,N,N,N,N,chunk168.csv
11241,200753463,2020-03-15 19:01:48,CARDBR,2,SICK,6,03/15/2020 07:02:46 PM,Y,58,03/15/2020 07:03:19 PM,...,42.0,16.0,203.0,9.0,15.0,N,N,N,N,chunk168.csv
8056,201111866,2020-04-20 12:43:12,TRAUMA,2,TRAUMA,2,04/20/2020 12:43:40 PM,Y,28,04/20/2020 12:43:50 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk170.csv
6318,200832488,2020-03-23 12:28:07,SICK,6,SICK,6,NaN,N,0,NaN,...,115.0,21.0,403.0,24.0,14.0,N,N,N,N,chunk168.csv
3221,200122042,2020-01-12 12:51:31,PD13C,3,PD13C,3,01/12/2020 12:51:40 PM,Y,9,01/12/2020 12:51:53 PM,...,120.0,49.0,501.0,31.0,11.0,N,N,N,N,chunk165.csv
4535,200551436,2020-02-24 10:09:19,CARD,3,CARD,3,02/24/2020 10:09:26 AM,Y,7,02/24/2020 10:09:55 AM,...,44.0,17.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv
7097,200252490,2020-01-25 15:04:39,EDP,7,EDP,7,01/25/2020 03:05:20 PM,Y,41,01/25/2020 03:06:16 PM,...,23.0,8.0,111.0,4.0,13.0,N,N,N,N,chunk166.csv
1231,200934724,2020-04-02 17:42:54,CDBRFC,2,CDBRFC,2,04/02/2020 05:43:55 PM,Y,61,04/02/2020 05:43:59 PM,...,45.0,12.0,210.0,11.0,16.0,N,N,N,N,chunk169.csv
11894,200812080,2020-03-21 11:40:26,UNKNOW,4,UNKNOW,4,03/21/2020 11:42:59 AM,Y,153,03/21/2020 11:43:18 AM,...,66.0,44.0,312.0,20.0,10.0,N,N,N,N,chunk168.csv
5222,200062218,2020-01-06 12:59:21,EDP,7,EDP,7,01/06/2020 12:59:36 PM,Y,15,01/06/2020 12:59:44 PM,...,77.0,36.0,308.0,17.0,9.0,N,N,N,N,chunk165.csv
11858,200513618,2020-02-20 20:04:59,SICK,6,SICK,6,02/20/2020 08:05:32 PM,Y,33,02/20/2020 08:05:43 PM,...,100.0,32.0,414.0,27.0,5.0,N,N,N,N,chunk167.csv
6049,200521365,2020-02-21 10:41:40,SICKFC,6,SICKFC,6,02/21/2020 10:41:52 AM,Y,12,02/21/2020 10:42:06 AM,...,67.0,41.0,317.0,18.0,9.0,N,N,N,N,chunk167.csv
7774,201203223,2020-04-29 22:15:20,ABDPFC,5,ABDPFC,5,04/29/2020 10:15:25 PM,Y,5,04/29/2020 10:16:00 PM,...,114.0,22.0,401.0,30.0,12.0,N,N,N,N,chunk170.csv

In [17]:
## get basic overview of the data
type(ems2020_excerpt_df)
## what datatypes do the different columns hold?
ems2020_excerpt_df.info()
## how many rows and columns are there
ems2020_excerpt_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13117 entries, 0 to 13116
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CAD_INCIDENT_ID                 13117 non-null  int64
 1   INCIDENT_DATETIME               13117 non-null  object
 2   INITIAL_CALL_TYPE               13117 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     13117 non-null  int64
 4   FINAL_CALL_TYPE                 13117 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       13117 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       13010 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  13117 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    13117 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       12988 non-null  object
 10  FIRST_ON_SCENE_DATETIME         12533 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  13117 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    12533 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   12533 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          7870 non-null   object
 15  FIRST_HOSP_ARRIVAL_DATETIME     7791 non-null   object
 16  INCIDENT_CLOSE_DATETIME         13110 non-null  object
 17  HELD_INDICATOR                  13117 non-null  object
 18  INCIDENT_DISPOSITION_CODE       12985 non-null  float64
 19  BOROUGH                         13117 non-null  object
 20  INCIDENT_DISPATCH_AREA          13117 non-null  object
 21  ZIPCODE                         12987 non-null  float64
 22  POLICEPRECINCT                  12988 non-null  float64
 23  CITYCOUNCILDISTRICT             12988 non-null  float64
 24  COMMUNITYDISTRICT               12988 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         12978 non-null  float64
 26  CONGRESSIONALDISTRICT           12988 non-null  float64
 27  REOPEN_INDICATOR                13117 non-null  object
 28  SPECIAL_EVENT_INDICATOR         13117 non-null  object
 29  STANDBY_INDICATOR               13117 non-null  object
 30  TRANSFER_INDICATOR              13117 non-null  object
 31  source                          13117 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 3.2+ MB

(13117, 32)

In [19]:
## call the top 7 rows
ems2020_excerpt_df.head(7)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
5,200530247,2020-02-22 01:26:18,DRUG,4,DRUG,4,02/22/2020 01:27:21 AM,Y,63,02/22/2020 01:27:41 AM,...,25.0,8.0,111.0,4.0,12.0,N,N,N,N,chunk167.csv
6,200543279,2020-02-23 19:08:27,UNC,2,UNC,2,02/23/2020 07:08:44 PM,Y,17,02/23/2020 07:09:16 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv

In [21]:
## call a sample of 10
ems2020_excerpt_df.sample(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
11213,201501656,2020-05-29 12:56:45,EDP,7,EDP,7,05/29/2020 12:57:03 PM,Y,18,05/29/2020 12:58:04 PM,...,79.0,36.0,303.0,16.0,8.0,N,N,N,N,chunk171.csv
4750,201070991,2020-04-16 08:17:32,EDP,7,EDPC,7,04/16/2020 08:18:28 AM,Y,56,04/16/2020 08:19:04 AM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk169.csv
11228,201644080,2020-06-12 23:16:38,DRUG,4,DRUG,4,06/12/2020 11:16:49 PM,Y,11,06/12/2020 11:16:55 PM,...,78.0,39.0,306.0,15.0,9.0,N,N,N,N,chunk171.csv
1239,200583894,2020-02-27 20:19:02,SICK,6,SICK,6,02/27/2020 08:19:08 PM,Y,6,02/27/2020 08:19:33 PM,...,43.0,17.0,209.0,8.0,15.0,N,N,N,N,chunk167.csv
12880,201111562,2020-04-20 11:26:38,SICKFC,6,SICKFC,6,04/20/2020 11:27:01 AM,Y,23,04/20/2020 11:30:13 AM,...,115.0,25.0,403.0,30.0,14.0,N,N,N,N,chunk170.csv
5090,201771311,2020-06-25 10:24:17,INJURY,4,INJURY,4,06/25/2020 10:24:26 AM,Y,9,06/25/2020 10:24:38 AM,...,114.0,26.0,401.0,30.0,14.0,N,N,N,N,chunk172.csv
11619,200734187,2020-03-13 20:37:14,RESPIR,4,RESPIR,4,03/13/2020 08:37:27 PM,Y,13,03/13/2020 08:37:49 PM,...,30.0,7.0,109.0,6.0,13.0,N,N,N,N,chunk168.csv
2072,200946294,2020-04-03 22:45:41,CDBRFC,2,CDBRFC,2,04/03/2020 10:46:25 PM,Y,44,04/03/2020 10:47:05 PM,...,43.0,18.0,209.0,8.0,14.0,N,N,N,N,chunk169.csv
4855,201600674,2020-06-08 05:52:59,EDP,7,EDPC,7,06/08/2020 05:53:13 AM,Y,14,06/08/2020 05:53:37 AM,...,43.0,18.0,209.0,8.0,15.0,N,N,N,N,chunk171.csv
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv

In [23]:
## call the bottom 6
ems2020_excerpt_df.tail(6)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13111,200870168,2020-03-27 00:42:59,INJURY,5,INJURY,5,03/27/2020 12:43:13 AM,Y,14,03/27/2020 12:43:28 AM,...,109.0,19.0,407.0,25.0,3.0,N,N,N,N,chunk168.csv
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [43]:
## Programmatically capture the 2245th FINAL_CALL_TYPE value and store in a variable.
value = ems2020_excerpt_df["FINAL_CALL_TYPE"].iat[2245]
value

'UNC'

In [27]:
## import data here
pd.read_excel("data_raw/multi-data.xlsx")

,Serial Number,County,License Type Code,License Class Code,Certificate Number,Premise Name,DBA,Premise Address,Premise Address 2,Premise City,...,Premise Zip,License Issued Date,License Expiration Date,Method of Operation,Days/Hours of Operation,Other,Georeference,Zone,Effective Date,Original Date
0,2000777,ALBANY,HL,242,912771,SUPER HOST HOTELS INC,ALBANY RAMADA PLAZA,3 WATERVLIET AVE,NaN,ALBANY,...,12206,2019-11-15,2021-11-30,HOTEL RESTAURANT SERVING BEER WINE CIDER AND L...,NaN,NaN,POINT (-73.783705 42.674761),2,2019-12-01,1996-12-05
1,1197749,NASSAU,CT,246,913036,MEMORARE CATERERS INC,NaN,2183 JACKSON AVE A,WAVERLY AVE & MERRICK ROAD,SEAFORD,...,11783,2019-11-22,2021-11-30,CATERER SERVING BEER CIDER WINE AND LIQUOR,NaN,NaN,POINT (-73.487062 40.668214),1,2019-12-01,2007-12-18
2,2149537,SULLIVAN,AX,122,910149,AHMED TRADING INC,NaN,1302 STATE ROUTE 52,NaN,LOCH SHELDRAKE,...,12759,2018-11-19,2021-11-30,GROCERY SELLING BEER CIDER AND WINE PRODUCTS,NaN,NaN,POINT (-74.66699 41.777859),2,2018-12-01,2009-12-22
3,1311950,QUEENS,W,322,903719,CAOTICO LLC,FORET WINES,68-38 FOREST AVE,STOREFRONT C,RIDGEWOOD,...,11385,2018-12-31,2021-11-30,WINE STORE SELLING WINE,NaN,NaN,POINT (-73.90109 40.702673),1,2018-12-31,2018-12-31
4,2217319,PUTNAM,TW,344,917985,COFFEE TIME CAFE INC,NaN,559 RTE 6N,NaN,MAHOPAC,...,10541,2019-12-05,2021-11-30,TAVERN SERVING BEER AND WINE,NaN,NaN,POINT (-73.763883 41.374319),2,2019-12-05,2019-12-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50135,1311238,QUEENS,AX,122,847423,ZAHER MEAT CORP,REGO FRESH MARKETPLACE,63-76 WOODHAVEN BLVD,NaN,REGO PARK,...,11374,2021-07-07,2024-08-31,"GROCERY STORE SELLING BEER, WINE PRODUCTS AND ...",NaN,NaN,POINT (-73.86759 40.722457),1,2021-09-01,2018-09-12
50136,3002671,ERIE,AX,122,782775,WOODLAWN DELI INC,NaN,S 3306 LAKE SHORE ROAD,T/O WOODLAWN,BLASDELL,...,14219,2021-10-08,2024-10-31,GROCERY STORE SELLING BEER CIDER AND WINE PROD...,NaN,NaN,NaN,3,2021-11-01,1994-11-30
50137,2209433,ONONDAGA,AX,128,784064,7 ELEVEN INC,SUNOCO A PLUS #40215H,1000 W GENESEE ST,NaN,SYRACUSE,...,13204,2021-10-28,2024-10-31,GROCERY STORE SELLING BEER CIDER & WINE PRODUCTS,NaN,NaN,POINT (-76.17092 43.053662),2,2021-11-01,2018-02-01
50138,1312336,BRONX,CM,110,801200,TORCH & CROWN 704 BROADWAY LLC,TORCH & CROWN BREWING COMPANY,463 E 173RD ST,NaN,BRONX,...,10457,2021-11-08,2024-11-30,COMBINED CRAFT MANUFACTURER,Micro Brewer Serial #1312333,Farm Brewer Serial #1312335,POINT (-73.901384 40.841683),1,2021-12-01,2018-12-24
50139,2227379,ALBANY,WS,308,941478,DUSKY GOOSE LLC,DUSKY GOOSE,8355 NE WARREN RD,WWW.DUSKYGOOSE.COM,DUNDEE,...,97115,2021-10-06,2024-09-30,DIRECT WINE SHIPPER,NaN,NaN,POINT (-123.032311 45.276215),2,2021-10-06,2021-10-06

In [31]:
## name the dataframe
cbp_df = pd.read_excel("data_raw/multi-data.xlsx", sheet_name = "CBP", skiprows = 6)

In [32]:
## call the top 15 rows
cbp_df.head(15)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
5,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
6,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:45:00,2017-01-20 13:15:00,12.500000,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
11,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
12,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
13,2017-01-20 01:20:00,2017-01-24 17:30:00,112.166667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
14,2017-01-20 01:20:00,2017-01-20 13:40:00,12.333333,9-11 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN

In [33]:
## get basic overview of the data
type(cbp_df.info)
## what datatypes do the different columns hold?
cbp_df.info()
## how many rows and columns are there
cbp_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95721 entries, 0 to 95720
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_in           95721 non-null  datetime64[ns]
 1   date_out          95223 non-null  datetime64[ns]
 2   hours_in_custody  95506 non-null  float64
 3   age_group         95716 non-null  object
 4   gender            95721 non-null  object
 5   citizenship       95721 non-null  object
 6   border            95721 non-null  object
 7   sector            95721 non-null  object
 8   field_office      0 non-null      float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 6.6+ MB

(95721, 9)

In [159]:
## call the bottom 3
cbp_df.tail(3)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
95718,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95719,2018-06-02 13:05:00,2018-06-04 00:54:00,35.800000,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95720,2018-06-02 13:20:00,2018-06-06 07:27:00,90.100000,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [34]:
## call a sample of 20
cbp_df.sample(20)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
49365,2017-12-17 02:50:00,2017-12-27 11:36:00,248.750000,12-14 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
24778,2017-08-26 09:30:00,2017-08-26 12:10:00,2.650000,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
95664,2018-06-02 08:20:00,2018-06-06 12:32:00,100.183333,9-11 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
36045,2017-10-27 18:30:00,2017-11-01 13:25:00,114.900000,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
89900,2018-05-18 19:00:00,2018-05-23 11:14:00,112.216667,1-2 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
69765,2018-03-17 17:05:00,2018-03-20 10:53:00,65.783333,9-11 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
43193,2017-11-25 19:50:00,2017-11-28 11:14:00,63.383333,9-11 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
9580,2017-04-13 22:30:00,2017-04-14 15:15:00,16.733333,12-14 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
67746,2018-03-10 19:20:00,2018-03-11 10:46:00,15.416667,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
62837,2018-02-18 00:18:00,2018-02-18 09:59:00,9.666667,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
32215,2017-10-07 21:45:00,2017-10-09 14:44:00,40.966667,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
65815,2018-03-02 21:00:00,2018-03-03 12:23:00,15.366667,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
47886,2017-12-13 00:30:00,2017-12-14 16:27:00,39.933333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
25683,2017-08-30 18:45:00,2017-09-01 11:16:00,40.500000,3-5 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
60141,2018-02-04 18:00:00,2018-02-05 12:32:00,18.516667,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
71765,2018-03-24 21:00:00,2018-03-28 11:03:00,86.033333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
37095,2017-11-01 22:30:00,2017-11-03 12:18:00,37.800000,3-5 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
92889,2018-05-26 00:30:00,2018-05-31 13:02:00,132.516667,12-14 years,Female,HONDURAS,SBO,(b)(7)(E ),NaN
65650,2018-03-02 04:00:00,2018-03-02 08:11:00,4.166667,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
50371,2017-12-20 14:55:00,2017-12-21 12:23:00,21.450000,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [49]:
## Programmatically capture the 8th hours_in_custody value and store in a variable.
value = cbp_df["hours_in_custody"].iat[7]

In [51]:
value

14.6333333333333