In [2]:
## import the pandas library in this cell
import pandas as pd

In [64]:
## import data and store in dataframe
pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [84]:
## name dataframe
ems2020_excerpt_df = pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

In [88]:
## call the last 5 rows
ems2020_excerpt_df.tail(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [14]:
## call a 20 random rows
ems2020_excerpt_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
6840,201272285,2020-05-06 15:47:32,EDP,7,EDP,7,05/06/2020 03:47:58 PM,Y,26,05/06/2020 03:48:11 PM,...,104.0,30.0,405.0,24.0,7.0,N,N,N,N,chunk170.csv
12474,200640948,2020-03-04 08:21:04,SEIZR,3,SEIZR,3,03/04/2020 08:21:31 AM,Y,27,03/04/2020 08:21:39 AM,...,88.0,35.0,302.0,13.0,8.0,N,N,N,N,chunk167.csv
4071,201240078,2020-05-03 00:34:26,PD13,7,PD13,7,05/03/2020 12:34:32 AM,Y,6,05/03/2020 12:35:14 AM,...,18.0,3.0,104.0,2.0,12.0,N,N,N,N,chunk170.csv
7202,200332614,2020-02-02 15:43:13,UNKNOW,4,UNKNOW,4,02/02/2020 03:43:25 PM,Y,12,02/02/2020 03:43:35 PM,...,109.0,19.0,407.0,25.0,6.0,N,N,N,N,chunk166.csv
12900,201321796,2020-05-11 13:20:23,CDBRFC,2,CDBRFC,2,05/11/2020 01:20:40 PM,Y,17,05/11/2020 01:20:48 PM,...,122.0,50.0,503.0,31.0,11.0,N,N,N,N,chunk170.csv
2747,200965365,2020-04-05 20:19:24,INJURY,5,INJURY,5,04/05/2020 08:19:36 PM,Y,12,04/05/2020 08:20:31 PM,...,75.0,37.0,305.0,19.0,7.0,N,N,N,N,chunk169.csv
10031,201440847,2020-05-23 07:11:56,UNKNOW,4,UNKNOW,4,05/23/2020 07:12:10 AM,Y,14,05/23/2020 07:12:42 AM,...,122.0,51.0,503.0,31.0,11.0,N,N,N,N,chunk171.csv
3108,200640534,2020-03-04 04:46:35,DIFFBR,2,DIFFBR,2,03/04/2020 04:46:48 AM,Y,13,03/04/2020 04:47:02 AM,...,46.0,16.0,205.0,9.0,13.0,N,N,N,N,chunk167.csv
6547,200082778,2020-01-08 15:19:15,MVA,6,MVA,6,01/08/2020 03:19:41 PM,Y,26,01/08/2020 03:20:00 PM,...,68.0,43.0,310.0,20.0,11.0,N,N,N,N,chunk165.csv
6360,200400538,2020-02-09 02:30:38,INJURY,5,INJURY,5,02/09/2020 02:32:19 AM,Y,101,02/09/2020 02:34:36 AM,...,52.0,11.0,207.0,10.0,13.0,N,N,N,N,chunk166.csv
7001,200290082,2020-01-29 00:34:05,INJURY,5,INJURY,5,01/29/2020 12:34:36 AM,Y,31,01/29/2020 12:34:46 AM,...,50.0,11.0,208.0,10.0,16.0,N,N,N,N,chunk166.csv
9198,201530444,2020-06-01 02:42:00,DIFFBR,2,DIFFBR,2,06/01/2020 02:42:12 AM,Y,12,06/01/2020 02:43:28 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk171.csv
1013,200383289,2020-02-07 17:00:21,SICK,6,SICK,6,02/07/2020 05:00:29 PM,Y,8,02/07/2020 05:00:43 PM,...,68.0,43.0,310.0,20.0,11.0,N,N,N,N,chunk166.csv
7340,200194116,2020-01-19 22:53:29,UNKNOW,4,UNKNOW,4,01/19/2020 10:53:38 PM,Y,9,01/19/2020 10:53:48 PM,...,115.0,22.0,403.0,30.0,14.0,N,N,N,N,chunk165.csv
11263,200402244,2020-02-09 13:42:39,INJURY,5,INJURY,5,02/09/2020 01:43:03 PM,Y,24,02/09/2020 01:43:14 PM,...,14.0,3.0,104.0,2.0,10.0,N,N,N,N,chunk166.csv
3526,201330018,2020-05-12 00:09:05,OBLAB,5,OBLAB,5,05/12/2020 12:09:17 AM,Y,12,05/12/2020 12:09:29 AM,...,44.0,15.0,204.0,9.0,15.0,N,N,N,N,chunk170.csv
4692,201622782,2020-06-10 18:07:46,HYPTN,7,HYPTN,7,06/10/2020 06:07:55 PM,Y,9,06/10/2020 06:08:12 PM,...,42.0,16.0,203.0,8.0,15.0,N,N,N,N,chunk171.csv
8604,200532308,2020-02-22 14:27:44,SEIZR,3,SEIZR,3,02/22/2020 02:28:11 PM,Y,27,02/22/2020 02:29:24 PM,...,42.0,17.0,203.0,8.0,15.0,N,N,N,N,chunk167.csv
5479,200753685,2020-03-15 19:56:20,DRUG,4,DRUG,4,03/15/2020 07:57:39 PM,Y,79,03/15/2020 07:58:19 PM,...,110.0,21.0,404.0,24.0,14.0,N,N,N,N,chunk168.csv
4589,200970320,2020-04-06 01:32:31,ARREST,1,ARREST,1,04/06/2020 01:32:47 AM,Y,16,04/06/2020 01:33:09 AM,...,71.0,40.0,309.0,17.0,9.0,N,N,N,N,chunk169.csv

In [32]:
## get basic overview of the data
type(ems2020_excerpt_df)
## what datatypes do the different columns hold?
ems2020_excerpt_df.info()
## how many rows and columns are there
ems2020_excerpt_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13117 entries, 0 to 13116
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CAD_INCIDENT_ID                 13117 non-null  int64
 1   INCIDENT_DATETIME               13117 non-null  object
 2   INITIAL_CALL_TYPE               13117 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     13117 non-null  int64
 4   FINAL_CALL_TYPE                 13117 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       13117 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       13010 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  13117 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    13117 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       12988 non-null  object
 10  FIRST_ON_SCENE_DATETIME         12533 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  13117 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    12533 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   12533 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          7870 non-null   object
 15  FIRST_HOSP_ARRIVAL_DATETIME     7791 non-null   object
 16  INCIDENT_CLOSE_DATETIME         13110 non-null  object
 17  HELD_INDICATOR                  13117 non-null  object
 18  INCIDENT_DISPOSITION_CODE       12985 non-null  float64
 19  BOROUGH                         13117 non-null  object
 20  INCIDENT_DISPATCH_AREA          13117 non-null  object
 21  ZIPCODE                         12987 non-null  float64
 22  POLICEPRECINCT                  12988 non-null  float64
 23  CITYCOUNCILDISTRICT             12988 non-null  float64
 24  COMMUNITYDISTRICT               12988 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         12978 non-null  float64
 26  CONGRESSIONALDISTRICT           12988 non-null  float64
 27  REOPEN_INDICATOR                13117 non-null  object
 28  SPECIAL_EVENT_INDICATOR         13117 non-null  object
 29  STANDBY_INDICATOR               13117 non-null  object
 30  TRANSFER_INDICATOR              13117 non-null  object
 31  source                          13117 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 3.2+ MB

(13117, 32)

In [34]:
## call the top 7 rows
ems2020_excerpt_df.head(7)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
5,200530247,2020-02-22 01:26:18,DRUG,4,DRUG,4,02/22/2020 01:27:21 AM,Y,63,02/22/2020 01:27:41 AM,...,25.0,8.0,111.0,4.0,12.0,N,N,N,N,chunk167.csv
6,200543279,2020-02-23 19:08:27,UNC,2,UNC,2,02/23/2020 07:08:44 PM,Y,17,02/23/2020 07:09:16 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv

In [36]:
## call a sample of 10
ems2020_excerpt_df.sample(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
10777,200804078,2020-03-20 18:33:35,UNC,2,UNC,2,03/20/2020 06:33:50 PM,Y,15,03/20/2020 06:34:11 PM,...,32.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk168.csv
898,200402014,2020-02-09 12:32:05,ALTMEN,3,ALTMEN,3,02/09/2020 12:32:45 PM,Y,40,02/09/2020 12:33:25 PM,...,34.0,10.0,112.0,6.0,13.0,N,N,N,N,chunk166.csv
12056,200470009,2020-02-16 00:03:14,INJURY,5,INJURY,5,02/16/2020 12:21:39 AM,Y,1105,02/16/2020 12:22:47 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv
691,200702847,2020-03-10 15:34:08,EDP,7,EDP,7,03/10/2020 03:34:19 PM,Y,11,03/10/2020 03:34:43 PM,...,71.0,35.0,309.0,17.0,9.0,N,N,N,N,chunk168.csv
3164,201133338,2020-04-22 20:31:05,SICK,6,SICK,6,04/22/2020 08:32:02 PM,Y,57,04/22/2020 08:32:18 PM,...,109.0,19.0,407.0,25.0,3.0,N,N,N,N,chunk170.csv
5268,201681395,2020-06-16 11:37:50,CDBRFC,2,CDBRFC,2,06/16/2020 11:38:01 AM,Y,11,06/16/2020 11:38:10 AM,...,14.0,3.0,104.0,2.0,10.0,N,N,N,N,chunk172.csv
10269,200110393,2020-01-11 02:07:44,DRUG,4,DRUG,4,01/11/2020 02:08:15 AM,Y,31,01/11/2020 02:08:25 AM,...,107.0,24.0,408.0,26.0,6.0,N,N,N,N,chunk165.csv
7044,200232999,2020-01-23 16:25:53,ASTHMB,2,ASTHMB,2,01/23/2020 04:27:19 PM,Y,86,01/23/2020 04:27:39 PM,...,43.0,18.0,209.0,11.0,15.0,N,N,N,N,chunk166.csv
8795,201162009,2020-04-25 14:22:14,SICK,6,SICK,6,04/25/2020 02:23:40 PM,Y,86,04/25/2020 02:23:57 PM,...,107.0,24.0,408.0,25.0,6.0,Y,N,N,N,chunk170.csv
7247,201011499,2020-04-10 09:21:26,SICK,6,SICK,6,04/10/2020 09:27:52 AM,Y,386,04/10/2020 09:28:10 AM,...,43.0,17.0,209.0,12.0,15.0,Y,N,N,N,chunk169.csv

In [38]:
## call the bottom 6
ems2020_excerpt_df.tail(6)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13111,200870168,2020-03-27 00:42:59,INJURY,5,INJURY,5,03/27/2020 12:43:13 AM,Y,14,03/27/2020 12:43:28 AM,...,109.0,19.0,407.0,25.0,3.0,N,N,N,N,chunk168.csv
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [46]:
## Programmatically capture the 2245th FINAL_CALL_TYPE value and store in a variable.
value = ems2020_excerpt_df["FINAL_CALL_TYPE"].iat[2245]

In [50]:
## import data here
pd.read_excel("data_raw/multi-data.xlsx")

,Serial Number,County,License Type Code,License Class Code,Certificate Number,Premise Name,DBA,Premise Address,Premise Address 2,Premise City,...,Premise Zip,License Issued Date,License Expiration Date,Method of Operation,Days/Hours of Operation,Other,Georeference,Zone,Effective Date,Original Date
0,2000777,ALBANY,HL,242,912771,SUPER HOST HOTELS INC,ALBANY RAMADA PLAZA,3 WATERVLIET AVE,NaN,ALBANY,...,12206,2019-11-15,2021-11-30,HOTEL RESTAURANT SERVING BEER WINE CIDER AND L...,NaN,NaN,POINT (-73.783705 42.674761),2,2019-12-01,1996-12-05
1,1197749,NASSAU,CT,246,913036,MEMORARE CATERERS INC,NaN,2183 JACKSON AVE A,WAVERLY AVE & MERRICK ROAD,SEAFORD,...,11783,2019-11-22,2021-11-30,CATERER SERVING BEER CIDER WINE AND LIQUOR,NaN,NaN,POINT (-73.487062 40.668214),1,2019-12-01,2007-12-18
2,2149537,SULLIVAN,AX,122,910149,AHMED TRADING INC,NaN,1302 STATE ROUTE 52,NaN,LOCH SHELDRAKE,...,12759,2018-11-19,2021-11-30,GROCERY SELLING BEER CIDER AND WINE PRODUCTS,NaN,NaN,POINT (-74.66699 41.777859),2,2018-12-01,2009-12-22
3,1311950,QUEENS,W,322,903719,CAOTICO LLC,FORET WINES,68-38 FOREST AVE,STOREFRONT C,RIDGEWOOD,...,11385,2018-12-31,2021-11-30,WINE STORE SELLING WINE,NaN,NaN,POINT (-73.90109 40.702673),1,2018-12-31,2018-12-31
4,2217319,PUTNAM,TW,344,917985,COFFEE TIME CAFE INC,NaN,559 RTE 6N,NaN,MAHOPAC,...,10541,2019-12-05,2021-11-30,TAVERN SERVING BEER AND WINE,NaN,NaN,POINT (-73.763883 41.374319),2,2019-12-05,2019-12-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50135,1311238,QUEENS,AX,122,847423,ZAHER MEAT CORP,REGO FRESH MARKETPLACE,63-76 WOODHAVEN BLVD,NaN,REGO PARK,...,11374,2021-07-07,2024-08-31,"GROCERY STORE SELLING BEER, WINE PRODUCTS AND ...",NaN,NaN,POINT (-73.86759 40.722457),1,2021-09-01,2018-09-12
50136,3002671,ERIE,AX,122,782775,WOODLAWN DELI INC,NaN,S 3306 LAKE SHORE ROAD,T/O WOODLAWN,BLASDELL,...,14219,2021-10-08,2024-10-31,GROCERY STORE SELLING BEER CIDER AND WINE PROD...,NaN,NaN,NaN,3,2021-11-01,1994-11-30
50137,2209433,ONONDAGA,AX,128,784064,7 ELEVEN INC,SUNOCO A PLUS #40215H,1000 W GENESEE ST,NaN,SYRACUSE,...,13204,2021-10-28,2024-10-31,GROCERY STORE SELLING BEER CIDER & WINE PRODUCTS,NaN,NaN,POINT (-76.17092 43.053662),2,2021-11-01,2018-02-01
50138,1312336,BRONX,CM,110,801200,TORCH & CROWN 704 BROADWAY LLC,TORCH & CROWN BREWING COMPANY,463 E 173RD ST,NaN,BRONX,...,10457,2021-11-08,2024-11-30,COMBINED CRAFT MANUFACTURER,Micro Brewer Serial #1312333,Farm Brewer Serial #1312335,POINT (-73.901384 40.841683),1,2021-12-01,2018-12-24
50139,2227379,ALBANY,WS,308,941478,DUSKY GOOSE LLC,DUSKY GOOSE,8355 NE WARREN RD,WWW.DUSKYGOOSE.COM,DUNDEE,...,97115,2021-10-06,2024-09-30,DIRECT WINE SHIPPER,NaN,NaN,POINT (-123.032311 45.276215),2,2021-10-06,2021-10-06

In [150]:
## name the dataframe
cbp_df = pd.read_excel("data_raw/multi-data.xlsx", sheet_name = "CBP", skiprows = 6)

In [154]:
## call the top 15 rows
cbp_df.head(15)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
5,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
6,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:45:00,2017-01-20 13:15:00,12.500000,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
11,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
12,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
13,2017-01-20 01:20:00,2017-01-24 17:30:00,112.166667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
14,2017-01-20 01:20:00,2017-01-20 13:40:00,12.333333,9-11 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN

In [157]:
## get basic overview of the data
type(cbp_df.info)
## what datatypes do the different columns hold?
cbp_df.info()
## how many rows and columns are there
cbp_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95721 entries, 0 to 95720
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_in           95721 non-null  datetime64[ns]
 1   date_out          95223 non-null  datetime64[ns]
 2   hours_in_custody  95506 non-null  float64
 3   age_group         95716 non-null  object
 4   gender            95721 non-null  object
 5   citizenship       95721 non-null  object
 6   border            95721 non-null  object
 7   sector            95721 non-null  object
 8   field_office      0 non-null      float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 6.6+ MB

(95721, 9)

In [159]:
## call the bottom 3
cbp_df.tail(3)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
95718,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95719,2018-06-02 13:05:00,2018-06-04 00:54:00,35.800000,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95720,2018-06-02 13:20:00,2018-06-06 07:27:00,90.100000,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [161]:
## call a sample of 20
cbp_df.sample(20)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
75335,2018-04-06 09:54:00,2018-04-06 17:52:00,7.950000,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
88792,2018-05-15 21:15:00,2018-05-16 11:13:00,13.966667,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10482,2017-04-30 08:00:00,2017-05-01 12:38:00,28.616667,15-18 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
70223,2018-03-19 13:15:00,2018-03-20 14:45:00,25.483333,Under 1 year,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
91662,2018-05-23 16:00:00,2018-05-26 11:32:00,67.533333,12-14 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
50091,2017-12-19 17:30:00,2017-12-21 14:15:00,44.733333,12-14 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
63804,2018-02-22 02:00:00,2018-02-23 09:50:00,31.816667,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
4318,2017-02-04 14:00:00,2017-02-08 14:39:00,96.633333,1-2 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
1365,2017-01-23 20:15:00,2017-01-25 10:59:00,38.716667,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
42697,2017-11-24 13:40:00,2017-11-27 10:42:00,69.016667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
27954,2017-09-12 05:24:00,2017-09-13 10:06:00,28.683333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
16961,2017-07-08 18:30:00,2017-07-10 09:10:00,38.650000,15-18 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
38762,2017-11-09 13:45:00,2017-11-11 13:04:00,47.300000,9-11 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
50366,2017-12-20 14:30:00,2017-12-22 18:06:00,51.583333,12-14 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
76204,2018-04-09 17:30:00,2018-04-10 09:09:00,15.650000,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
22012,2017-08-10 18:15:00,2017-08-12 16:25:00,46.150000,6-8 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
74295,2018-04-01 12:15:00,2018-04-09 09:05:00,188.816667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
56564,2018-01-20 00:30:00,2018-01-21 12:28:00,35.950000,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
95088,2018-05-31 22:43:00,2018-06-07 17:25:00,162.700000,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
53028,2017-12-31 15:45:00,2018-01-02 10:03:00,42.283333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN

In [183]:
## Programmatically capture the 8th hours_in_custody value and store in a variable.
value = cbp_df["hours_in_custody"].iat[7]